.contenedor-producto{
    
    width: 1258px;
    height: 667px;
    left: 331px;
    top: 639px; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.contenedor-iconos{
    width: 150.24px;
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
    border-radius: 0px;
    margin: 1rem 1rem 5rem 1rem;
}
.imagen-producto{
    display: flex;
    align-items: center;
    justify-content: center;
}