.contenedor-producto{
    
    width: 1258px;
    height: 667px;
    left: 331px;
    top: 639px; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.contenedor-iconos{
    width: 220.24px;
    height: 222px;
    margin: 220px 0px 222px;

    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
    border-radius: 0px;
  
}
.imagen-producto{
    
    left: 20.94%;
    right: 74.84%;
    top: 21.64%;
    bottom: 76.64%;
}